<html lang="en">
<head>  
</head>
<body>
	<form id="adminform" class="form-horizontal" role="form" method="post" action="/admin">
		<h1> Welcome to Admin Page</h1>
        Admin User: <input type="text" class="form-control" name="user_name" value=""><br><br>                                                                      
		Admin Password: <input type="password" class="form-control" name="password"><br><br>
        <button id="btn-adlogin" type="submit" class="btn btn-success">Login  </button>
    </form>    
</body>
</html>

